/* шрифты*/
@font-face
{ font-family:Lobster; src: url( "../fonts/OpenSans-Regular.woff");
    font-weight: 400; font-style: normal;
}
@font-face
{ font-family:Lobster; src: url( "../fonts/OpenSans-Bold.woff");
    font-weight: 700; font-style: normal;
}
* {
    margin: 0;
    font-family: Open Sans, arial, sans-serif;
    box-sizing: border-box;
    padding:0;
}
body{
     font-size: 16px;
     line-height: 1.2;
     margin: 0; 
}
a{
    text-decoration: none;
}
/*поп ап*/
.p-feedback{
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index:8;
}
.p-feedback-top{
     text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height:1.3;

}
.p-feedback-top::after{
     content:"";
    display: flex;
    position: relative;
    background-color:#b59f5b;
    width: 66px;
    height: 3px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
}
.p-feedback-container {
    display: flex;
    flex-direction: column;
    max-width:390px;
    width:95%;
    min-height: 590px;
    margin: auto;
    position: relative;
    background-color: #ffffff;
   padding: 60px 20px 55px 25px; 
}
.p-feedback-form{
    padding-top: 35px;
    font-size: 13px;
}
.p-feedback-select{
    display: block;
    font-family: inherit;
    width: 330px;
    height: 50px;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-size: 3%  ;
    background-repeat: no-repeat;
    background-position: right 5px  center;
}
.p-feedback-radio-label{
display: block;

}
.p-feedback-opinion-span{
}
.p-feedback-field-opinion
{   overflow: auto;
    resize: none;
    width: 330px;
    height: 130px;
}
.p-feedback-button{
      margin-top: 18px;
    height: 48px;
    border: none;
    width: 330px;
    background-color:#b59f5b;
    font-weight: bold;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 13px;
}

/* крестик*/
.popup-close {
    width: 1.4em;
    height: 1em;
    position: absolute;
    top: -1.5em;
    right: 0;
    background-color:transparent;
    border: none;
     background-image: url("../svg/form-x.svg");
     background-repeat: no-repeat;

}
.popup-close:hover{
    cursor: pointer;
}
/*шапка*/
.header{
    display: flex;
    z-index: 1;
    position:relative;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}
.header-container{
    position:relative;
    z-index: 2;
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 33px;
    padding-bottom: 145px;
    padding-left: 15px;
    padding-right: 15px;
}
.logo-menu{
    display: flex;
    justify-content: space-between;
}

.menu {
    display:flex;
}
.menu-list{
    list-style: none;
    padding:0;
    display:flex;

}
.menu-list-item{
    margin-right:35px;
}
.menu-list-item:last-child{
    margin-right:0;
}
.menu-link {
    justify-content:flex-end;
    list-style-type: none;
    text-transform:uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
}
.menu-link:hover{
    cursor: pointer;
    text-decoration: underline;
}
.header-description h1{
    text-transform:uppercase;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size:45px;
    line-height:1.6;
    max-width:700px;
    margin-top:95px;
    margin-right: auto;
    margin-left:auto;
}
/* сейчас в тренде */
.trends-container{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
}

.trends{
  width: 100%;
  margin-top: 30px;
  display: flex;
}
.trend{
  height:320px;
  width: 24.8%;
  background-color: #00f000;
  position: relative;
  z-index:0;
}
.trend::after {
  content: "";
  position: absolute;
  top: 0;
  right:0;
  bottom:0;
  left:0;
  background-color: #000000;
  opacity: 0.6;
  z-index:-1;
}

.trend:nth-child(n + 1):nth-child(-n + 3) {
  margin-right: 3px;
  }
.trends-top{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height:1.3;
}

.trends-top::after{
   content:"";
    display: flex;
    position: relative;
    background-color:#b59f5b;
    width: 66px;
    height: 3px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
}

.trend-link{
    color:#ffff;
}
.trenda,.trendb,.trendc,.trend4{
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: flex-end;
    justify-content:center;
    padding-bottom: 15px;
}
  .trenda{
    background-image: url("../images/trend1.jpg");
  }
  .trendb{
    background-image: url("../images/trend2.jpg");
  }
  .trendc{
    background-image: url("../images/trend3.jpg");
  }
  .trend4{
    background-image: url("../images/trend4.jpg");
  }
  .trend-text{
    display: flex;
    flex-wrap:wrap;
   width: 90%;
  border: 3px solid #b59f5b;
  padding: 36px 32px;
  align-items: flex-end;
}

.trend-menu-list{
  list-style: none;
    padding:0;
    margin-bottom:15px;
    display:flex;
}

.trend-menu-list-item{
  margin-right:20px;
}

.trend-menu-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
}

.trend-menu-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
}

/* контент*/

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 45px 15px 75px 15px;
}

.main-container{
    display: flex;
    justify-content: space-between;
    max-width:778px;
}
.news-block{
    display: flex;
    flex-direction: column;
    margin:0 auto;
}
.news-bolck:first-child{
    margin-top:0;
}
.news-img{
    display: block;
    object-fit: cover;
}
.news
{
    display:flex;
    margin-bottom:60px;

}
.news:last-child{
    margin-bottom:0;
}

/* меню новостей */

.news-menu-list{
    list-style: none;
    padding:0;
    margin-bottom:15px;
    display:flex;
    flex-wrap:wrap;
}
.news-menu-list-item{
    margin-right:20px;
}
.news-menu-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
}
.news-info{

    margin-left:30px;
}
.news-name{
    text-transform: uppercase;
    font-size: 20px;
    line-height:1.2;
    margin-bottom:37px;
}
.news-name a{
    color:#0f0d0e;
}
.news-date{
    color: #888888;
    font-size: 12px;
    margin-rigth: 10px;
}
.news-author{
    color: #000000;
    font-size: 12px;
    font-weight: bold;

}
.news-description{
    margin-top:50px;
}
.news-description > p{
    font-size: 15px;
    line-height:1.5;

}
/* aside */
.aside-container{
    width: 270px;
}

.aside-top{
    text-align: center;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height:1.3;


}
.aside-top::after{
    content:"";
    display: flex;
    position: relative;
    background-color:#b59f5b;
    width: 66px;
    height: 3px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
}
.aside-news{
    display: flex;
    margin-top:20px;
}
.aside-news-info{
    margin-left:18px;
}
.aside-date
{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    text-decoration: none;
    color: #888888;
}
.aside-news-name{text-transform: uppercase;
    font-size: 14px;
}
.aside-news-name a{
    color:#0f0d0e;
}
/* форма поиска */
.search{
    display:flex;
    width:100%;
    margin-top:60px;
}
.hidden{
    display: none;
}
.search-button{
    border: none;
    width: 47px;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color:#b59f5b;
}
.search-field{
    padding-left: 18px;
    padding-right: 18px;
    width: 222px;
    height: 47px;
    font-size: 13px;
    border: none;
    background-color:#f4f7f6;
}
/* почтовая форма */
.mailing{
margin-top:60px;
}
.mailing-button{
    margin-top: 18px;
    height: 48px;
    border: none;
    width: 100%;
    background-color:#b59f5b;
    font-weight: bold;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 13px;
}

.mailing-field{
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 23px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: none;
    background-color:#f4f7f6;
}
/* теги */
.tegs{
  margin-top: 60px;
}
.aside-list-tegs{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
}
.aside-list-tegs-link{
    height: 29px;
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    border: 3px solid #f4f3f1;
    padding: 7px 11px;
}
.aside-list-tegs-item{
    margin-top: 26px;
    margin-left: 3px;
    margin-right: 3px;
}
/* темы */
.theme{
    margin-top: 60px;
}
.list-theme{
    list-style:none;
}
.list-theme-link{
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-size: 14px;
    padding: 0 5px 0 0;
}

.list-theme-item{
  
    margin-left: 3px;
}

.list-theme-item::after{
    content:"";
    display: block;
    position: relative;
    margin-top: 14px;
    width: 100%;
    height: 1px;
    background:#eeeeee;
}

.list-theme-count{
    display: inline-block;
    vertical-align: top;
    color:#b59f5b;
    font-weight:bold;
    font-size: 12px;
}

/* наши изделия*/

        
.goods-container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;     
}
.goods-top{
    text-align: center;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height:1.3; 
}

.goods-top::after{
    content:"";
    display: flex;
    position: relative;
    background-color:#b59f5b;
    width: 66px;
    height: 3px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
}

.goods-block{
    padding-top: 30px;
    display: flex;
    flex-direction:row;
    margin: 0 auto;
    min-height: 480px;
}

.goods-block>* {
            flex: 1;
        }
.goods-block>*+* {
            margin-left: 60px;
        }
 

.goods {
   display: flex;
  flex-direction: column;
        }

.goods>* {
            text-align: center;
        }
  .goods:nth-child(n + 1):nth-child(-n + 3) {
  margin-right: 60px;
  }
.goods-img{
  width: 90%;
  }
.goods-info{
    border: 3px solid #ceb285;
    width: 345px;
    height: 265px;
    z-index: 2;
    margin-top: -55px;
 
}
.goods-name
{
    padding-top: 50px;
}
.goods-link{
    font-size:20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
    line-height: 1.6;
}
.list-goods-link{

    color:#b59f5b;
}
.goods-shop-form{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.price-list{
    display: flex;
    flex-direction: column;
}
.price-list>*{
    flex: 1;
    display: flex;
    align-items: center;
}
.price{
    display: flex;
justify-content: flex-start;
    font-size: 23px;
    font-weight: bold;
    flex-direction: row;
  }
.price1{
    font-weight: bold;
    text-decoration: line-through;
   
}
     .rub:after {
            content: " \20BD";
            font-weight: bold;
        }

.shop-button {
   height: 3.1em;
   border: none;
   width: 8.5em;
   background-color: #b59f5b;
   font-weight: bold;
   text-transform: uppercase;
   color: #ffffff;
   font-size: 13px
}

/* подвал  */
.articles-footer{
 text-align: center;
}
.footer-container{
    width:1200px;
    margin: auto;
}
.articles-socials{
    background-color: #f4f7f6;
    margin-bottom:20px;
    padding-top: 30px;
    padding-bottom:30px;

}
.socials {
    display:flex;
    list-style: none;
    justify-content: center;

}
.socials-item {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}
.socials-link {
    display:inline-block;
    width: 24px;
    height: 24px;
    padding: 5px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;

}

.socials-link-pinterest {
    background-image: url("../svg/001-pinterest.svg");

}
.socials-link-facebook {

    background-image: url("../svg/002-facebook-logo.svg");

}
.socials-link-tumblr{
    background-image: url("../svg/003-tumblr.svg");
}

.socials-link-twitter {
    background-image: url("../svg/004-twitter.svg");
}
.socials-link-instagram{
    background-image: url("../svg/005-instagram.svg");
}
.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.copyright{
     text-decoration: none;
    color:#999999;
    font-weight: bold;
    font-size: 12px;
  text-align: center;

}
/* медиа запросы*/

/* медиа запросы для крестика*/
@media(min-width: 481px) {
 .popup-close {
  font-size: 20px;
}
@media(max-width: 480px) {
 .popup-close {
  font-size: 15px;
}
}